/* Estilo global */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: rgb(59, 59, 59);
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

/* Footer */


footer {
  background-color: transparent;
  padding: 20px 40px;
  text-align: center;
  flex-wrap: wrap;
  color: #fff;
}

footer div {
  width: 100%;
  margin-bottom: 20px;
}

footer div h3 {
  margin-bottom: 10px;
}

footer div p {
  margin: 5px 0;
}

/* Main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgb(3, 9, 59);
  padding: 100px 300px;
  font-size: 24px;
  border-radius: 10px;
  width: 150px;
  margin: 100px auto 0;
}

/* Botões */
.botaodelogin {
  background: linear-gradient(90deg, rgba(90,47,154,1) 0%, rgba(100,24,154,1) 25%, rgba(95,8,157,1) 75%, rgba(90,47,154,1) 100%);
  color: #ffffff;
  padding: 20px 40px;
  margin-left: 30%;
  margin-top: 1%;
  border: none;
  margin-bottom: -100%;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Libre Bodoni", serif;
  transition: transform 0.3s ease, border-radius 0.3s ease;
}

.botaodelogin:hover {
  transform: scale(1.05);
  border-radius: 17px;
}

/* Formulários */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

input[type="password"], input[type="text"] {
  padding: 10px 80px;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px;
}

.checkboax {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 31%;
  font-size: 15px;

}

/* Links */


a:hover {
  transform: scale(1.2);
}

/* Loader */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.hidden {
  display: none !important;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

#loading p {
  color: white;
  margin-top: 10px;
  font-size: 1.2em;
}

/* Toggle */
/* Estilo geral do toggle */
.tgl {
  display: none; /* Oculta o checkbox original */
}

.tgl-btn {
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left: 42%;
  margin-top: 14px;
  position: relative;
  background: #27942d;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.tgl-btn:before, .tgl-btn:after {
  content: attr(data-tg-on); /* Mostra "Notas" inicialmente */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: bold;
  color: white;
  transition: all 0.2s ease;
}

.tgl-btn:after {
  content: attr(data-tg-off); /* Mostra "Notas" quando ativado */
  left: 10px;
  opacity: 0;
}

.tgl-btn:before {
  left: 10px;
  opacity: 1;
}

/* Alterações no estado ativado */
.tgl:checked + .tgl-btn {
  background-color: rgba(22, 165, 9, 0.767);

}

.tgl:checked + .tgl-btn:before {
  opacity: 0;
}

.tgl:checked + .tgl-btn:after {
  opacity: 1;
}
.inicio {
  font-size: 50px;
}

.g-recaptcha{
  margin-left: 27px;
  margin-top: -20px;
  margin-bottom: -20px;  
}