body {
	margin: 0;
	font-size: 70%;
	font-family: Verdana, sans-serif;
	/*background: #E6E8EC;*/
	text-decoration: none;
	text-align: center;
    background-color: #ffffff7e; /* Cor de fundo (skyblue) */
    height: 100vh;   
}

h1,h2,h3,h4,h5,h6,form,p {
	margin: 0;
	padding: 0;
}

table {
	border-collapse:collapse;
}

table tbody tr th, table th {
	text-align: right;
	font-weight: normal;
}

table thead, table tr.linhaCinza {
	background-color: #DEDFE3;
	font-weight: bold;
}

.linhaPar {
	background-color: #F9FBFD;
}

.linhaPar tr td, .linhaImpar tr td{
	text-align: left;
}

.linhaImpar {
	background-color: #EDF1F8;
}

table.tabelaRelatorio{
	border-top:2px black solid;
	border-bottom:1px black solid;
	padding: 3px;
}

table.subTabelaRelatorio{
	border-bottom:1px black solid;
	padding: 3px;
}

table.tabelaRelatorioBorda {
	border-top:2px black solid;
	padding: 3px;
}

table.tabelaRelatorio caption, table.tabelaRelatorioBorda caption, h3.tituloTabelaRelatorio{

	/*  h3.tituloTabelaRelatorio --> Estilo definido devido a bug de impressao do firefox */

	font-size: 1.1em;
	font-weight: bold;
	border-top:2px black solid;
	font-variant:  small-caps;
	text-align: center;
}
table.subTabelaRelatorio caption, h3.tituloSubTabelaRelatorio{
	font-size: 1.1em;
	font-weight: bold;
	border-bottom:1px black solid;
	font-variant:  small-caps;
}

table.tabelaRelatorio tfoot, table.tabelaRelatorioBorda tfoot{
	font-weight: bold;
}

table.tabelaRelatorioBorda tfoot td{
	border:1px silver solid;
}


table.tabelaRelatorio thead td, table.tabelaRelatorio thead th{
	font-weight: bold;
	padding: 0px;
	text-align: left;
}



table.tabelaRelatorio tbody tr.destaque, table.tabelaRelatorioBorda tbody tr.destaque{
	font-weight: bold;
	background: #DDD;
	border-top: 1px solid #CCC;
	font-variant: small-caps;
	font-size: 1em;
}

table.tabelaRelatorioBorda thead td, table.tabelaRelatorioBorda thead th{
	border:1px black solid;
	font-weight: bold;
	padding: 2px;
	text-align: left;
}

table.tabelaRelatorio tbody td{
	padding: 2px;
	text-align: left;
}





