<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SigaaV2 - [Atualizações]</title>
  <link rel="stylesheet" href="./static/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1 ><a class="inicio" href="/">SigaaV2</a></h1>
    <nav>
        <a href="/contato">Contato</a>
        <a href="/atualizacoes">Atualizações</a>
        <a href="/sobre">Sobre</a>
        <a href="/segurança">Segurança</a>
        <a href="/creditos">Creditos</a>
        <a href="/autenticar">Entrar</a>
    </nav>
  </header>
  
  <main>
    <section class="hero">
      <h2>Atualizações</h2>
      <p>Confira as novidades e melhorias mais recentes do SigaaV2.</p>
    </section>
    <section class="content">
      <article>
        <h3>Versão 0.2 - Janeiro 2025</h3>
        <ul>
          <li>Melhoria na responsividade da interface.</li>
          <li>Partes do site redesenhadas.</li>
          <li>Codigo de captura de boletim otimizado.</li>
        </ul>
      </article>
      <article>
        <h3>Versão 0.1 - Dezembro 2024</h3>
        <ul>
          <li>Funcionalidade de captura de boletim adicionada.</li>
          <li>Páginas principal, contato, sobre e atualizacoes foram adicionadas.</li>
        </ul>
      </article>
    </section>
  </main>
  

  <footer>
    <div>
      <h3>Manutenção</h3>
      <p>Instável devido a o site estar em desenvolvimento</p>
      <!--<p>segunda-feira—sexta-feira</p>
      <p>18h — 19h</p>-->
    </div>
    <div>
      <h3>Contato</h3>
      <p>sigaav2@gmail.com</p>
      <!--<p>+55 (48) 9201-3419</p>-->
    </div>
  </footer>
</body>
</html>
