<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SigaaV2 - [Créditos]</title>
  <link rel="stylesheet" href="./static/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
  
 {% include 'aceitartermos.virk' %}
{% include 'header.virk' %}
  
  <main>
    <section class="hero">
      <h2>Créditos</h2>
      <p>Confira todos as pessoas que contribuíram com o projeto.</p>
    </section>
    <section class="content">
      <article>
        <h3>Programação</h3>
        <ul>
          <li><a class="likasrd" href="https://github.com/LucasKBF">Lucas K.B.F</a></li>
          <li><a class="likasrd" href="https://nosferk.com">Nosferk</a></li>
        </ul>
      </article>
      <article>
        <h3>Revisão</h3>
        <ul>
          <li><a class="likasrd" href="https://nosferk.com">Nosferk</a></li>

        </ul>
      </article>
      <article>
        <h3>Design</h3>
        <ul>
          <li><a class="likasrd" href="https://github.com/LucasKBF">Lucas K.B.F</a></li>
          <li><a class="likasrd" href="https://nosferk.com">Nosferk</a></li>
        </ul>
      </article>
    </section>
  </main>
  

  <footer>
    <div>
      <h3>Horarios de Manutenção</h3>
      <p>Instável devido a o site estar em desenvolvimento</p>
      <!--<p>segunda-feira—sexta-feira</p>
      <p>18h — 19h</p>-->
    </div>
    <div>
      <h3>Contato</h3>
      <p><a href="mailto:sigaav2@gmail.com?subject=Suporte">sigaav2@gmail.com</a></p>
      
    </div>
  </footer>
</body>
{% include 'lisencafooter.virk' %}

</html>
