<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="stylesheet" href="./static/sigaa.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1 ><a class="inicio" href="/">SigaaV2</a></h1>
        <nav>
            <a href="/contato">Contato</a>
            <a href="/atualizacoes">Atualizações</a>
            <a href="/sobre">Sobre</a>
            <a href="/segurança">Segurança</a>
            <a href="/creditos">Creditos</a>
            <a href="/autenticar">Entrar</a>
        </nav>
      </header>
      <div class="hero">
        <h2>SigaaV2</h2>
        <p>Veja aqui as informações sobre sua conta no Sigaa.</p>
        <p style="font-size: 18px; -webkit-text-fill-color: rgb(248, 206, 117);">Devido a um erro do proprio SIGAA</p>
        <p style="font-size: 18px; -webkit-text-fill-color: rgb(248, 206, 117);">As faltas estarão Inconsistentes</p>
      </div>
      <h1 class="title">Notas</h1>
      {{ notas|safe }}
      <footer>
        <div>
          <h3>Manutenção</h3>
          <p>Instável devido a o site estar em desenvolvimento</p>
          <!--<p>segunda-feira—sexta-feira</p>
          <p>18h — 19h</p>-->
        </div>
        <div>
          <h3>Contato</h3>
          <p>sigaav2@gmail.com</p>
      <!--<p>+55 (48) 9201-3419</p>-->
          
        </div>
      </footer>
</body>
</html>