<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="stylesheet" href="./static/sigaa.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
      <h1 ><a class="alink" class="inicio" href="/">SigaaV2</a></h1>
          <nav>
              <a class="alink" href="/contato"; style="color: black;">Contato</a>
              <a class="alink" href="/atualizacoes"; style="color: black;">Atualizações</a>
              <a class="alink" href="/sobre"; style="color: black;">Sobre</a>
              <a class="alink" href="/segurança"; style="color: black;">Segurança</a>
              <a class="alink" href="/creditos"; style="color: black;">Creditos</a>
              <a class="alink" href="/autenticar"; style="color: rgb(255, 255, 255);">Entrar</a>
          </nav>
      </header>
      <div class="hero">
        <h2>SigaaV2</h2>
        <p>Veja aqui as informações sobre sua conta no Sigaa.</p>
        <br>
        <p style="font-size: 18px; -webkit-text-fill-color: rgb(248, 206, 117);">Devido a um erro do proprio SIGAA</p>
        <p style="font-size: 18px; -webkit-text-fill-color: rgb(248, 206, 117);">As faltas estarão Inconsistentes</p>
      </div>
      <h1 class="title">Notas</h1>
      {{ notas|safe }}
      <footer>
        <div>
          <h3>Horarios de Manutenção</h3>
          <p>Instável devido a o site estar em desenvolvimento</p>
          <!--<p>segunda-feira—sexta-feira</p>
          <p>18h — 19h</p>-->
        </div>
        <div>
          <h3>Contato</h3>
          <p>sigaav2@gmail.com</p>
      
          
        </div>
      </footer>
</body>
</html>