<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>SigaaV2</title>
  </head>
  <body>

    {% include 'aceitartermos.virk' %}
    {% include 'header.virk' %}
    <div class="hero">
      <h2>SigaaV2</h2>
      <p>Site destinado à trazer uma interface mais limpa e útil do Sigaa.</p>
      <button onclick="window.location.href='/autenticar';"
        class="botao">Entrar</button>
    </div>
    <footer>
      <div>
        <h3>Horarios de Manutenção</h3>
        <p>Instável devido a o site estar em desenvolvimento</p>
        <!--<p>segunda-feira—sexta-feira</p>
      <p>18h — 19h</p>-->
      </div>
      <div>
        <h3>Contato</h3>
        <p><a
            href="mailto:sigaav2@gmail.com?subject=Suporte">sigaav2@gmail.com</a></p>
      </div>
    </footer>
    {% include 'lisencafooter.virk' %}

  </body>
</html>
