<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<style>
    body {
    text-align: center;
    background-color: rgba(78, 5, 146, 0.445);
    font-size: 20px;
    font-family:'Times New Roman', Times, serif
    }
</style>
<link rel="stylesheet" href="static/styles.css">
<header>
    <h1 ><a class="alink" class="inicio" href="/"; style="font-size: 30px;">SigaaV2</a></h1>
    <nav>
      <a class="alink" href="/contato">Contato</a>
      <a class="alink" href="/atualizacoes">Atualizações</a>
      <a class="alink" href="/sobre">Sobre</a>
      <a class="alink" href="/segurança">Segurança</a>
      <a class="alink" href="/creditos">Creditos</a>
      <a class="alink" href="/termosdeservico">Termos de Serviço</a>
      <a class="alink" href="/politicadeprivacidade">Politica de Privacidade</a>
      <a class="alink" href="/autenticar">Entrar</a>
    </nav>
  </header>
  <div class="hero">
    <h2>MIT License</h2>
  </div>

<body>
  {% include 'aceitartermos.virk' %}
  {% include 'header.virk' %}

<br><br>
Copyright (c) 2025 LucasKBF & Nosferk<br><br>

Permission is hereby granted, free of charge, to any person obtaining a copy<br>
of this software and associated documentation files (the "Software"), to deal<br>
in the Software without restriction, including without limitation the rights<br>
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br>
copies of the Software, and to permit persons to whom the Software is<br>
furnished to do so, subject to the following conditions:<br><br>

The above copyright notice and this permission notice shall be included in all<br>
copies or substantial portions of the Software.<br><br>

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br>
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br>
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br>
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br>
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br>
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE<br>
SOFTWARE.
</body>
<h6 style="text-align: center ;"><a href="/LICENSE">© 2025 SigaaV2. Todos os direitos reservados.</a></h6>