<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SigaaV2 - [Atualizações]</title>
  <link rel="stylesheet" href="\static\styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    
 {% include 'aceitartermos.sigaav2' %}

  
  <main>
    <section class="hero">
      <h2 style="font-family:'Times New Roman', Times, serif;">Manutenção</h2>
      <p>No momento o site está passando por uma manutenção, voltamos em breve.</p>
    
  </main>


  <footer style="box-shadow: 0 0px 0px;">
    <div>
      <h3>Em caso de dúvidas contate:</h3>
      <p><a href="mailto:sigaav2@gmail.com?subject=Suporte">sigaav2@gmail.com</a></p>
      

    </div>
  </footer>
</body>
{% include 'lisencafooter.sigaav2' %}
</html>
