<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SigaaV2 - [Segurança]</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>

  <body>

    {% include 'aceitartermos.virk' %}
    {% include 'header.virk' %}

    <main>
      <section class="hero">
        <h2>Segurança</h2>
        <p>Confira as medidas de segurança tomadas para proteger você e seus
          dados.</p>
      </section>
      <section class="content">
        <article>
          <p>Não é de hoje que temos problemas com segurança, por isso todo o
            projeto foi desenvolvido de forma que
            prioriza a segurança de todos.</p>
          <p>Segue algumas medidas de segurança usadas para proteger o você.</p>
          <h3>Código aberto</h3>
          <p>Todo código usado no site está disponível para acesso <a
              class="alink" class="link"
              href="https://github.com/LucasKBF/SigaaV2"
              style="padding: 0%; color:blueviolet; font-size:17px">aqui</a>.</p>
          <h3>Gerenciamento de informações</h3>
          <p>O código é aberto e verificado para prevenir qualquer tipo de
            violação de seus direitos.</p>
        </article>
      </section>
    </main>

    <footer>
      <div>
        <h3>Horarios de Manutenção</h3>
        <p>Instável devido a o site estar em desenvolvimento</p>
        <!--<p>segunda-feira—sexta-feira</p>
      <p>18h — 19h</p>-->
      </div>
      <div>
        <h3>Contato</h3>
        <p><a
            href="mailto:sigaav2@gmail.com?subject=Suporte">sigaav2@gmail.com</a></p>

      </div>
    </footer>
  </body>
  {% include 'lisencafooter.virk' %}
</html>