<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SigaaV2 - [Sobre]</title>
  <link rel="stylesheet" href="/static/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
  
  {% include 'aceitartermos.virk' %}
  {% include 'header.virk' %}
  
  <main>
    <section class="hero">
      <h2>Sobre o SigaaV2</h2>
      <p>Descubra mais sobre o SigaaV2 e como ele está revolucionando a experiência de uso do SIGAA.</p>
    </section>
    <section class="content">
      <article>
        <h3>Nossa Missão</h3>
        <p>Trazer uma interface mais limpa, útil e acessível para todos os usuários do SIGAA.</p>
      </article>
      <article>
        <h3>Visão</h3>
        <p>Facilitar o acesso a informações acadêmicas de forma rápida e intuitiva.</p>
      </article>
      <article>
        <h3>Equipe</h3>
        <p><a class="likasrd" href="https://github.com/LucasKBF">Lucas K.B.F</a></p>
        <a class="likasrd"href="https://nosferk.com"><p>Nosferk</p></a>
      </article>
    </section>
  </main>
  

  <footer>
    <div>
      <h3>Horarios de Manutenção</h3>
      <p>Instável devido a o site estar em desenvolvimento</p>
      <!--<p>segunda-feira—sexta-feira</p>
      <p>18h — 19h</p>-->
    </div>
    <div>
      <h3>Contato</h3>
      <p>sigaav2@gmail.com</p>
      
    </div>
  </footer>
</body>
{% include 'lisencafooter.virk' %}
</html>
