<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SigaaV2 - [Sobre]</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <h1 ><a class="inicio" href="https://sigaav2.onrender.com/index">SigaaV2</a></h1>
    <nav>
        <a href="https://sigaav2.onrender.com/contato">Contato</a>
        <a href="https://sigaav2.onrender.com/atualizacoes">Atualizações</a>
        <a href="https://sigaav2.onrender.com/sobre">Sobre</a>
        <a href="https://sigaav2.onrender.com/autenticar">Entrar</a>
    </nav>
  </header>
  
  <main>
    <section class="hero">
      <h2>Sobre o SigaaV2</h2>
      <p>Descubra mais sobre o SigaaV2 e como ele está revolucionando a experiência de uso do SIGAA.</p>
    </section>
    <section class="content">
      <article>
        <h3>Nossa Missão</h3>
        <p>Trazer uma interface mais limpa, útil e acessível para todos os usuários do SIGAA.</p>
      </article>
      <article>
        <h3>Visão</h3>
        <p>Facilitar o acesso a informações acadêmicas de forma rápida e intuitiva.</p>
      </article>
      <article>
        <h3>Equipe</h3>
        <p>Desenvolvido por uma equipe apaixonada por tecnologia e inovação.</p>
      </article>
    </section>
  </main>
  

  <footer>
    <div>
      <h3>Manutenção</h3>
      <p>segunda-feira—sexta-feira</p>
      <p>18h — 19h</p>
    </div>
    <div>
      <h3>Contato</h3>
      <p>lucas.k.b.fabris@gmail.com</p>
      <p>+55 (48) 9201-3419</p>
    </div>
  </footer>
</body>
</html>
